{% extends "layout.html" %}

{% block title %}
首页
{% endblock %}

{% block content %}

        <ul>
            {% for job in jobsList %}
            <li typeof="JobPosting">
                <div class="listHead">
                    <span class="salary" property="baseSalary">{{ job.salary }}</span>
                    <span class="title">
                        <a property="title" title="{{ job.title }}">{{ job.title }}</a>
                    </span>
                    <span class="time" property="datePosted" title="{{ job.date_create }}">{{ job.date_create }}</span>
                    <span class="location" class="location" property="jobLocation">{{ job.city }}</span>
                    <span class="organization">
                        {% if job.company_website %}
                        <a href="job.company_website" target="_blank" property="hiringOrganization" follow="nofollow" tilte="{{ job.company }}">{{ job.company }}</a>
                        {% else %}
                        {{ job.company }}
                        {% endif %}
                    </span>
                </div>

                <div class="sub">
                    <div class="subInner">
                        <div class="aboutOrganization">
                            <h2>{{ job.company }}</h2>
                            <p>
                                {% if job.company_weibo %}
                                <a href="{{ job.company_weibo }}" follow="nofollow" target="_blank"><i class="icon-weibo"></i> 微博</a>
                                {% endif %}

                                {% if job.company_website %}
                                <a href="{{ job.company_website }}" follow="nofollow" target="_blank"><i class="icon-link"></i> 官网 </a>
                                {% endif %}
                            </p>
                            <p>
                                {{ job.intro|filter_tags }}
                            </p>
                        </div>
                    </div>
                </div>

            </li>
            {% endfor %}
        </ul>
{% endblock %}