{% extends "layout.html" %}

{% block title %}
首页
{% endblock %}

{% block content %}
        <a href="/test" class="pjax">测试</a>

        <ul>
            <li typeof="JobPosting">
                <div class="listHead">
                    <span class="salary" property="baseSalary">2k</span>
                    <span class="title">
                        <a property="title" title="初级前端工程师">初级前端工程师</a>
                    </span>
                    <span class="time" class="time" property="datePosted" title="2013-09-17 20:24:17">2013-07-17 09:24:17</span>
                    <span class="location" class="location" property="jobLocation">齐齐哈尔</span>
                    <span class="organization">
                        <a href="###" target="_blank" property="hiringOrganization" tilte="聚美优品">聚美优品</a>
                    </span>
                </div>

                <div class="sub">
                    <div class="subInner">
                        <div class="aboutOrganization">
                            <h2>聚美优品</h2>
                            <p>
                                <a href="###"><i class="icon-weibo"></i> 微博</a>
                                <a href="###"><i class="icon-link"></i> 官网</a>
                            </p>
                            <p>
                                公司：上海远途信息技术有限公司<br>职位：全职Python软件工程师<br><br>薪资待遇：3500 - 6500，试用期80%,完成考核转正 <br>最低学历：大专<br>工作经验：不限，应届生亦可<br>招聘人数：3人<br>工作区域：上海浦东新区 - 航头<br><br>福利：<br>包住<br>养老保险，医疗保险，失业保险<br>带薪年假，做五休二，年底双薪<br><br><br>岗位职责:<br>1. 熟练使用python进行编码；<br>2. 熟练使用mysql或者postgresql。<br><br>任职资格:<br>1. 有python开发经验，django经验是一个plus；<br>2. 会使用Linux操作系统；<br>3. 良好的沟通和团队协作能力。 <br><br>工作时间:<br>国家标准<br><br>联系：<br>skype： kerjan11<br>简历投递email: info AT <a href="http://octopusinfo.com" rel="nofollow">octopusinfo.com</a>
                            </p>
                        </div>
                    </div>
                </div>

            </li>
            <li typeof="JobPosting">
                <div class="listHead">
                    <span class="salary" property="baseSalary">6k</span>
                    <span class="title">
                        <a property="title" title="初级前端工程师">初创公司之Web前端/后台工程师</a>
                    </span>
                    <span class="time" class="time" property="datePosted" title="2013-05-17 20:24:17">2013-05-17 09:24:17</span>
                    <span class="location" class="location" property="jobLocation">深圳</span>
                    <span class="organization">
                        <a href="###" target="_blank" property="hiringOrganization" tilte="初创公司">初创公司</a>
                    </span>
                </div>

                <div class="sub">
                    <div class="subInner">
                        <div class="aboutOrganization">
                        <h2>初创公司</h2>
                            <p>
                                <a href="###"><i class="icon-weibo"></i> 微博</a>
                                <a href="###"><i class="icon-link"></i> 官网</a>
                            </p>
                            <p>
                                [公司简介] <br>本公司为初创公司，由几名有梦想又靠谱的朋友合伙创立，致力于为客户提供高体验的无线解决方案。核心成员均毕业于985院校，技术出身。项目详情、盈利模式、发展方向，恕不便公告，QQ详谈。<br><br> [薪资待遇] <br>实习：1000 ~ 1500<br>全职：2000 ~ 2500<br>配股：根据表现与忠诚度分期配股，采用期权+虚拟股票（参与分红，暂无投票权）的方式。<br>说明：因合伙人自身看好项目，因此拒绝天使投资，自己艰难筹资投入，初期资金有限，大部分都将用于购买设备，只好委屈包括我们自己在内的核心团队成员们。所以不准备或者无法“熬”半年到一年的朋友，我们完全不适合你。而配股将非常慷慨。<br><br> [Web前端工程师] <br>1、熟悉HTML、CSS、JavaScript等基础网页设计技术，有相关项目经验；<br>2、精通至少一种JS框架，如jQuery/YUI/Mootools/PrototypeJS；<br>3、熟悉XHTML/HTML5，能熟练解决PC、平板、手机等各类浏览器兼容问题者更佳； <br>4、能独立完成前端项目者更佳；<br>5、具备良好的设计感和出色的沟通能力，能够熟练使用Photoshop等图片处理工具者更佳；<br>6、具有创业激情，愿意因为看好项目前景和自身发展而牺牲短时间利益。<br><br> [Web后台工程师] <br>1、至少熟练掌握一门后台开发的语言，并能独立完成网站后台的开发工作；<br>2、全面的计算机知识结构：操作系统、数据结构、数据库、多线程、网络安全等；<br>3、熟练使用数据库，能够独立设计应用数据库；<br>4、熟练使用Linux，能够进行Linux服务器的安装、配置、管理；<br>5、了解HTML、JavaScript、Ajax等Web前端技术；<br>6、熟悉移动互联网环境，有Android、iOS等移动平台开发经验者更佳；<br>7、具有创业激情，愿意因为看好项目前景和自身发展而牺牲短时间利益。<br><br> [联系方式] <br>称呼：郑同学<br>QQ：309896629<br>邮箱：qidi.zheng[at]gmail.com<br>电话：13631668114
                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li typeof="JobPosting">
                <div class="listHead">
                    <span class="salary" property="baseSalary">6k</span>
                    <span class="title">
                        <a property="title" title="初级前端工程师">初级前端工程师初级前端工程师初级前端工程师</a>
                    </span>
                    <span class="time" class="time" property="datePosted" title="2013-09-17 20:24:17">2013-07-17 09:24:17</span>
                    <span class="location" class="location" property="jobLocation">北京</span>
                    <span class="organization">
                        <a href="###" target="_blank" property="hiringOrganization" tilte="聚美优品">聚美</a>
                    </span>
                </div>

                <div class="sub">
                    <div class="subInner">
                        <img src="static/img/logo-100x100.png" alt="html5集中营">
                        <p>
                            <span>旅行</span>
                            <a href="http://www.html5sum.com/">旅行</a>
                            可以消除人们的疲惫，带上家人一起享受这份悠闲的生活<br/>
                            可以消除人们的疲惫，带上家人一起享受这份悠闲的生活<br/>可以消除人们的疲惫，带上家人一起享受这份悠闲的生活<br/>可以消除人们的疲惫，带上家人一起享受这份悠闲的生活<br/>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
{% endblock %}